{% extends 'base.html' %}

{% block content %}

    <!-- FLASH MESSAGES -->
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>    
    {% endfor %}

    <!-- DISPLAYING CARDS -->
    <div class="row">
        {% for log in logs %}
        <div class=" col-md-4 card" style="padding: 1%;">
            <div class="card-body" id="{{log.tracker_id}}">
                <h5 style="text-align: center;">Date : {{log.timestamp}}</h5>
                <br>
                {% if log.value %}
                    <h6 class="card-text" style="text-align: center;">Value: {{ log.value }}</h6>
                {% else %}
                    <h6 class="card-text" style="text-align: center;">Value : {{ log.value_mcq_choice }}</h6>
                {% endif %}
                <p style="text-align: center;" class="log-text">Notes : {{log.notes}}</p>
                <a href="{{url_for('edit_log',logid = log.log_id, trackerid=log.tracker_id)}}" class="log-link">Edit Card</a>
                <a href="{{ url_for('delete_log',logid = log.log_id,trackerid=log.tracker_id) }}" style="margin-left: 70%;"><i class="bi bi-trash-fill"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    <br>
    <h1>
        <a href="{{ url_for('add_log',trackerid=trackerid) }}" style="bottom: 0;" ><i class="bi bi-plus-circle-fill"></i></a>
    </h1>

{% endblock %}